
body{
    margin: 0;
}

:root {
    --ivory: #FFFFF2;
    --daintree: #012B39;
    --bondiBlue: #008FAC;
    --mountainMeadow: #19A288;
  }
  

h1{}

p{}


/*****************
    CTA buttons
*****************/

.cta-button1{
    border: solid var(--mountainMeadow) 2px;
    border-radius: 10px;
    color: white;
    padding: 10px;
    font-size: 15px;
    margin: 10px;
    background-color: var(--mountainMeadow);
}

.cta-button1:hover{
    border: solid var(--mountainMeadow) 2px;
    color: var(--mountainMeadow);
    background-color: transparent;
    cursor: pointer;
}

.cta-button2{
    border: solid var(--daintree) 2px;
    border-radius: 10px;
    color: white;
    padding: 10px;
    font-size: 15px;
    margin: 10px;
    background-color: var(--daintree);
}

.cta-button2:hover{
    border: solid var(--daintree) 2px;
    color: var(--daintree);
    background-color: transparent;
    cursor: pointer;
}


/*****************
     Header
*****************/

header{
    background-color: #008FAC;
    height: 100%;
    padding: 10px;
}

header > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px 0 40px;
}

#header_img{
    width: 150px;
    height: auto;
}


/*****************
      Index
*****************/

#posts{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.singlePost{
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    background-color: var(--ivory);
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.singlePost > div{
    margin: 20px;
}

.singlePost > div > img{
    width: auto;
    height: 200px;
}



/*****************
    Make post
*****************/

#lagPost{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#lagPost > input{
    height: 100%;
    width: 200px;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--mountainMeadow) !important;
    border: 0;
}

/*****************
    Login page
*****************/

#loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loginForm > input{
    height: 100%;
    width: 200px;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--mountainMeadow) !important;
    border: 0;
}