
body{
    margin: 0;
}

:root {
    --ivory: #FFFFF2;
    --daintree: #012B39;
    --bondiBlue: #008FAC;
    --mountainMeadow: #19A288;
    --inputBG : #e8f0fe;
  }
  

h1, h2, h3{
    font-size: 30px;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

p, a{
    font-size: 20px;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

main{
    margin: 0 5% 0 5%;
}


/*****************
    CTA buttons
*****************/

.cta-button1{
    border: solid var(--mountainMeadow) 2px;
    border-radius: 10px;
    color: white;
    padding: 10px;
    font-size: 10px;
    margin: 10px;
    background-color: var(--mountainMeadow);
}

.cta-button1:hover{
    border: solid var(--mountainMeadow) 2px;
    color: var(--mountainMeadow);
    background-color: transparent;
    cursor: pointer;
}

.cta-button2{
    border: solid var(--daintree) 2px;
    border-radius: 10px;
    color: white;
    padding: 10px;
    font-size: 10px;
    margin: 10px;
    background-color: var(--daintree);
}

.cta-button2:hover{
    border: solid var(--daintree) 2px;
    color: var(--daintree);
    background-color: transparent;
    cursor: pointer;
}


/*****************
     Header
*****************/

header{
    background-color: #008FAC;
    height: 100%;
    padding: 10px;
}

header > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px 0 40px;
}

#account{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header_img{
    width: 50px;
    height: auto;
}
/*****************
       Blog
*****************/

#blogInfo{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/*****************
      Index
*****************/

#blogPostMain{
    height: 100vh;
}

#posts{
    display: grid;
    margin-top: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: center;
    align-content: center;
}

.singlePost{
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    background-color: var(--ivory);
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
    transition: transform 0.3s ease;
}

.singlePost:hover{
    transform: scale(1.02);
}

.singlePost > div{
    margin: 20px;
    overflow: hidden;
}

.singlePost > div > img{
    max-width: auto;
    height: 200px;

}

.postDetail{
    max-width: 300px;
}

section{
    background-color: var(--ivory);
}

/*****************
    Make post
*****************/

#makePostMain{
    height: 100vh;
}

#lagPost{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#lagPost > input{
    height: 100%;
    width: 300px;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--inputBG);
    border: 0;
}

#lagPost > textarea{
    height: 300px;
    width: 300px;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--inputBG);
    border: 0;
}

#makePostInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0 20px 0;
}

/*****************
    edit Post
*****************/

#editPostMain{
    height: 100vh;
}

#editPost{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#editPost > input{
    height: 100%;
    width: 500px;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--inputBG);
    border: 0;
}

#editPost > textarea{
    height: 200px;
    width: 500px;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--inputBG);
    border: 0;
}

/*****************
    Login page
*****************/

#loginMain{
    height: 100vh;
}

#loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loginForm > input{
    height: 100%;
    width: 300px;
    padding: 5px;
    font-size: 15px;
    border-radius: 10px;
    background-color: var(--inputBG);
    border: 0;
}

#loginForm > textarea{
    height: 100%;
    width: 300px;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--inputBG);
    border: 0;
}

/*****************
  Specific Post
*****************/

#specificPost{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#specificPost > div > p{
    white-space: pre-wrap;
}

#specificPost > div{
    margin: 10px;
    max-width: 400px;
}

#specificPost > div > img{
    max-width: 300px;
    max-height: auto;
}

#postButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*****************
     Carousel
*****************/

section {
    display: flex;
    justify-content: center;
}

#carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 500px;
    width: 100vw;
}

#carouselContainer {
    width: 100vw;
}

.carouselItem {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
}

.carouselItem img {
    height: 100%;
    width: 100%;
    object-fit: cover; 
    object-position: center; 
}

.carouselInfo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    border-radius: .25rem;
    background-color: var(--daintree);
    filter: drop-shadow(5px 5px 4px #000000);
}

.prev, .next {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.8);
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 143, 172, 0.3);
    border: solid 1px transparent;
}

.prev:hover, .next:hover {
    border: solid 1px var(--ivory);
    background-color: rgba(0, 143, 172, 1);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.prev {
    left: 1rem;
}

.next {
    right: 1rem;
}

.carouselItem > ul {
    list-style: none;
    padding: 0;
    display: flex;
    overflow: hidden;
    width: 100%;
    margin: 0;
}

.carouselItem > li {
    min-width: 100%;
    box-sizing: border-box;
    transition: transform 0.5s ease-in-out;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/****************
     Footer
****************/

footer{
    background-color: var(--bondiBlue);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer > div > h2{
    margin: 15px;
}


@media (min-width: 750px){

    /*****************
          Index
    *****************/

    #header_img{
        width: 150px;
        height: auto;
    }

    /*****************
        Make post
    *****************/

    #lagPost{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #lagPost > input{
        height: 100%;
        width: 500px;
        padding: 5px;
        border-radius: 10px;
        background-color: var(--inputBG);
        border: 0;
    }

    #lagPost > textarea{
        height: 200px;
        width: 500px;
        padding: 5px;
        border-radius: 10px;
        background-color: var(--inputBG);
        border: 0;
    }

    /*****************
       Login page
    *****************/

    #loginForm{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #loginForm > input{
        height: 100%;
        width: 300px;
        padding: 5px;
        font-size: 15px;
        border-radius: 10px;
        background-color: var(--inputBG);
        border: 0;
    }

    #loginForm > textarea{
        height: 100%;
        width: 300px;
        padding: 5px;
        border-radius: 10px;
        background-color: var(--inputBG);
        border: 0;
    }

    /*****************
    CTA buttons
    *****************/

    .cta-button1{
        font-size: 15px;
    }

    .cta-button2{
        font-size: 15px;
    }

    /*****************
      Index
    *****************/

    #posts{
        display: grid;
        margin-top: 50px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        justify-items: center;
        align-content: center;
    }

    .singlePost{
        width: 500px;
    }

    .singlePost > div > img{
        max-width: auto;
        height: 300px;
    }

    .postDetail{
        max-width: 300px;
    }

    section{
        background-color: var(--ivory);
    }

    /*****************
       Specific Post
    *****************/

    #specificPost{
        flex-direction: row;
    }

    #specificPost > div > img{
        max-width: 350px;
    }

}

@media (min-width: 1350px){

    main{
        margin: 0 5% 0 5%;
    }

    header> div{
        margin: 0 5% 0 5%;
    }

    /*****************
      Index
    *****************/

    #posts{
        grid-template-columns: repeat(2, 1fr); 
    }

    .singlePost{
        width: 500px;
    }

    .singlePost > div > img{
        height: 400px;
    }

    /*****************
       Specific Post
    *****************/

    #specificPost > div > img{
        max-width: 500px;
    }

   /*****************
     Carousel
    *****************/

    #carousel {
        height: 700px;
    }

    .carouselInfo {
        top: 50%;
        left: 50%;
    }

    /*****************
     Header
    *****************/

    #header_img{
        width: 150px;
        height: auto;
    }

    /*****************
        CTA buttons
    *****************/

    .cta-button2{
        font-size: 15px;
    }
}

@media (min-width: 2000px){
    #posts{
        grid-template-columns: repeat(3, 1fr);
    }
}